section#album-info{
  display:flex;
  margin-top: 7%;
  margin-left: 7%;
  align-self: left;
}

img#album-cover-art{
  max-height: 400px;
}

div.album-details{
  display: inline-block;
  text-shadow: 1px 1px #868876;
  /* color: #f9fbe7; */
  color: #6d1b1f;     /* maroon */
  min-width: 400px;
  min-height: 400px;
}

h2#album-title{
  margin-top: 30%;
}

div#release-info{
  margin-top: 10px;
  font-size: 1.3em;
}

section#table-controls{
  display: flex;
  margin: 5% 5% 0 7%;
  overflow-x: hidden;
}

table#song-list{
  min-width: 400px;
  color: #f9fbe7;
  text-shadow: 0.25px 0.25px #f9fbe7;
  background-color: rgba(0,0,0,0.2);
  padding-right: 2%;
  float: left;
}

.table>tbody>tr>td{
  padding: 0;
  line-height: 2.5;
  width: 30px;
  font-size: 1.4em;
}
