section#album-container{
  margin: 4% 4% 4% 4%;
}

img#album-cover-art{
  display: block;
  height: 25%;
  width: 25%;
  float: left;
}

div.album-details{
  display: inline-block;
  float: left;
  width: 25%;
  color: #6d1b1f;
  text-shadow: 1px 1px #868876;
  margin: 4%;
  font-size: 1.2em;
}

div.table-responsive{
  width: 40%;
  float: right;
  color: #f9fbe7;
  text-shadow: 0.25px 0.25px #f9fbe7;
  margin-top: 2%;
  background-color: rgba(0,0,0,0.2);
  margin-right: 10px;
}

div#release-info{
  margin-top: 10px;
  font-size: 1.3em;
}

.table>tbody>tr>td{
  padding: 0;
  line-height: 2.5;
  width: 25px;
  font-size: 1.4em;
}
