div.point{
  color: #f9fbe7;
  text-shadow: 2px 2px 4px #000000;
}

div.show-grid.row{
  position: static;
  bottom: 10px;
  width: 100%;
}

div.selling-points{
  background-color: rgba(0,0,0,0.2);
  min-height: 190px;
}


h1.hero-title{
  padding-top: 12%;
  padding-bottom: 12%;
}

h2.point-title{
  margin: 2% 0;
}

p.point-description{
  margin: 2% 0;
  font-size: 2rem;
}


i.fas.fa-music, i.fas.fa-wifi, i.fas.fa-mobile-alt{
  color: #f9fbe7;
  text-shadow: 2px 2px 4px #000000;
  padding-top: 4%;
  font-size: 1.8em;
}
