section#playerbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #f9fbe7;
  background-color: rgba(0,0,0,0.2);
  min-height: 80px;
  width: 100%;
  float: left;
  margin-top: 10%;
  padding-top: 2.5%;
}

div#buttons{
  color: rgba(62,8,10,0.4);
  width: 30%;
}

section#time-control{
  margin: 0 auto;
  width: 30%;
}

section#volume-control{
  margin: 0 auto;
  width: 30%;
}


input.seek-bar{
  width: 250px;
  float: left;
  padding:0 3%;
}

span.current-time{
    float: left;
    width: 30px;
    text-align: center;
}

span.total-time{
    float: left;
    width: 30px;
    text-align: center;
}

button#previous, button#play-pause, button#next{
  margin: 0 4px;
}

i.fas.fa-volume-down{
  padding-right: 3px;
  font-size: 1.5em;
  float: left;
}

i.fas.fa-volume-up{
  padding-left:3px;
  font-size: 1.5em;
  float: left;
}
